* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: xyz; */
  font-family: Roboto;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #030303;
  /* background-color: black; */
}
